@button-color: #05D69B;


#wrapper { 
	position:relative; min-height:100vh; background-color:red; 
	header { width:100%; height:85px; position:absolute; top:0px; }
	main { 
		min-height:100vh; /*padding-bottom:200px;*/ background-color:#ffffff; 
		#advertisement { 
			width:100%; padding-top:85px; height:800px; background-image:url('../images/illustration-hero.svg'), linear-gradient(6deg, white 20%, transparent 20% ), radial-gradient(at bottom right, #BBB8FA, #070439); background-repeat:no-repeat; background-position: 90%;
			display:flex; align-items:center;
			#advertisement-info { width:45%; margin-bottom: 4rem; color:#ffffff; }
			#img-container {
				float:right; width:50%;
				img { max-width:100%; display:block; margin:auto; }
			}
		}
		#content { 
			width:100%; display:block; height:1370px; background-color:white; text-align:center;  background-image:url('../images/illustration-features.svg'); background-repeat:no-repeat; background-position: 5% 25%; background-size: 30%;
			#stay-productive-content { 
				max-width:60%;
				.column {
					width:40%;
					div { padding: 2rem 0rem; }
				} 
			}
			#newsletter-input { padding: 0.25rem 0.5rem; width:70%; border-radius: .25rem; border:0rem; }
		}
	}

	#sign-up, #get-started, #join-btn, #join-btn-footer { background-color:@button-color; }
	footer { 
		width:100%; height:600px; padding: 4rem 2rem; display:flex; align-items:flex-end; justify-content:center; position:absolute; bottom:0px; background-image:linear-gradient(5deg, #070439 60%, transparent 0% ); color: #ffffff;
		#skata { width:100%; display:flex; align-items:end; }

		#page-navigation { flex:1; display:flex; justify-content:space-between; padding: 0rem 1.5rem 1.5rem 1.5rem; line-height:2; border-left:1px solid #ffffff; border-right:1px solid #ffffff; }
		#receive-upd { 
			padding: 0rem 0rem 1.5rem 3rem; width:35%;
			#newsletter-container-footer { text-align:right; } 
		}
		a:visited { color:#ffffff; }
	}
}